@font-face {
  font-family: "iconfont"; /* Project id 4935660 */
  src: url('iconfont.woff2?t=1748489438565') format('woff2'),
       url('iconfont.woff?t=1748489438565') format('woff'),
       url('iconfont.ttf?t=1748489438565') format('truetype'),
       url('iconfont.svg?t=1748489438565#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-warn_model_icon:before {
  content: "\e602";
}

.icon-home_menu_icon:before {
  content: "\e603";
}

.icon-warn_list_icon:before {
  content: "\e601";
}

.icon-warn_statistics_icon:before {
  content: "\e600";
}

