@use "sizeUtils.scss" as sizeUtils;

.boat-custom-loading {
  > div {
    > .ant-spin {
      z-index: 9999999;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  //.ant-spin-blur {
  //  opacity: 1;
  //
  //  &::after {
  //    opacity: 1;
  //    background: rgba(0, 0, 0, 0.8);
  //  }
  //}
}

// 表单
.custom-from-item {
  &.ant-picker {
    padding-top: 0;
    padding-bottom: 0;
    height: sizeUtils.vh(44);
    line-height: sizeUtils.vh(44);
    background-color: rgba(11, 45, 90, 1);
    border-radius: 0;
    border: none;
    font-size: sizeUtils.vh(16);

    .ant-picker-input {
      font-size: sizeUtils.vh(16);

      input {
        font-size: sizeUtils.vh(16);
      }
    }
  }

  &.ant-select {
    .ant-select-selector {
      height: sizeUtils.vh(44);
      background-color: rgba(11, 45, 90, 1);
      border-radius: 0;
      border: none;

      .ant-select-selection-placeholder {
        height: sizeUtils.vh(44);
        line-height: sizeUtils.vh(44);
        font-size: sizeUtils.vh(16);
      }

      .ant-select-selection-search {
        height: sizeUtils.vh(44);
        line-height: sizeUtils.vh(44);
      }

      .ant-select-selection-item {
        height: sizeUtils.vh(44);
        line-height: sizeUtils.vh(44);
      }
    }
  }
}

// 表格
.custom-table {
  &.ant-table-wrapper {
    .ant-table {
      background-color: transparent;

      .ant-table-container {
        .ant-table-header {
          background: linear-gradient(0, #1C3B68 0%, rgba(2, 43, 76, 0) 100%);

          .ant-table-thead {
            background: linear-gradient(0, #1C3B68 0%, rgba(2, 43, 76, 0) 100%);

            .ant-table-cell {
              background-color: transparent;
              border-bottom: none;
              text-align: center;
              color: rgba(0, 252, 238, 1);
              font-weight: 500;
              font-size: sizeUtils.vh(16);
              line-height: sizeUtils.vh(22);
              padding: sizeUtils.vh(12) sizeUtils.vw(16);

              &::before {
                display: none;
              }
            }
          }
        }

        .ant-table-tbody {
          .ant-table-row {
            &:hover {
              position: relative;

              .ant-table-cell {
                background-color: transparent;
                border-top: 1px solid rgba(0, 252, 238, 0.51) !important;
                border-bottom: 1px solid rgba(0, 252, 238, 0.51) !important;

                &:first-child {
                  border-radius: 0;

                  &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: sizeUtils.vw(40);
                    transform: translateY(-50%);
                    width: sizeUtils.vw(22);
                    height: sizeUtils.vh(21);
                    background-image: url("@/assets/images/table_cell_hover_icon.png");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                  }
                }

                &:last-child {
                  border-radius: 0;
                }
              }
            }

            &:last-child {
              .ant-table-cell {
                border-bottom: 0;
              }
            }

            .ant-table-cell {
              background-color: transparent;
              border-top-color: transparent;

              &.ant-table-cell-row-hover {
                background-color: transparent;
              }
            }
          }
        }

        .ant-table-content {
          .ant-table-thead {
            background: linear-gradient(0, #1C3B68 0%, rgba(2, 43, 76, 0) 100%);

            .ant-table-cell {
              background-color: transparent;
              border-bottom: none;
              text-align: center;
              color: rgba(0, 252, 238, 1);
              font-weight: 500;
              font-size: sizeUtils.vh(16);
              line-height: sizeUtils.vh(22);
              padding: sizeUtils.vh(12) sizeUtils.vw(16);

              &::before {
                display: none;
              }
            }
          }

          .ant-table-tbody {
            .ant-table-row {

              .ant-table-cell {
                border-top-color: transparent;

                &.ant-table-cell-row-hover {
                  background-color: transparent;
                }
              }

              &:hover {
                position: relative;

                .ant-table-cell {
                  background-color: transparent;
                  border-top: 1px solid rgba(0, 252, 238, 0.51) !important;
                  border-bottom: 1px solid rgba(0, 252, 238, 0.51) !important;

                  &:first-child {
                    border-radius: 0;

                    &::after {
                      content: '';
                      position: absolute;
                      top: 50%;
                      left: sizeUtils.vw(40);
                      transform: translateY(-50%);
                      width: sizeUtils.vw(22);
                      height: sizeUtils.vh(21);
                      background-image: url("@/assets/images/table_cell_hover_icon.png");
                      background-size: contain;
                      background-repeat: no-repeat;
                      background-position: center center;
                    }
                  }

                  &:last-child {
                    border-radius: 0;
                  }
                }
              }

              &:last-child {
                .ant-table-cell {
                  border-bottom: none;
                }
              }
            }

            .ant-table-placeholder {
              &:hover {
                .ant-table-cell {
                  background-color: transparent;
                  border-bottom: none;
                }
              }

              .ant-table-cell {
                padding: sizeUtils.vh(17) sizeUtils.vw(16);
                background-color: transparent;
                border-bottom: none;
                color: rgba(221, 240, 246, 1);
                font-weight: 400;
                font-size: sizeUtils.vh(14);
                line-height: sizeUtils.vh(20);
              }
            }
          }
        }

        .ant-table-body {
          .ant-table-tbody {
            .ant-table-placeholder {
              &:hover {
                .ant-table-cell {
                  background-color: transparent;
                  border-bottom: none;
                }
              }
            }
          }
        }
      }
    }
  }
}

// 主表格
.custom-main-table {
  &.ant-table-wrapper {
    .ant-table {
      background-color: transparent;

      .ant-table-container {
        .ant-table-header {
          background: linear-gradient(0, #1C3B68 0%, rgba(2, 43, 76, 0) 100%);

          .ant-table-thead {
            background: linear-gradient(0, #1C3B68 0%, rgba(2, 43, 76, 0) 100%);

            .ant-table-cell {
              background-color: rgba(54, 109, 135, 0.21);
              border-bottom: none;
              text-align: center;
              color: rgba(0, 252, 238, 1);
              font-weight: 500;
              font-size: sizeUtils.vh(16);
              line-height: sizeUtils.vh(22);
              padding: sizeUtils.vh(12) sizeUtils.vw(16);

              &::before {
                display: none;
              }
            }
          }
        }

        .ant-table-tbody {
          .ant-table-row {
            &:hover {
              position: relative;

              .ant-table-cell {
                background-color: rgba(54, 109, 135, 0.68);

                &:first-child {
                  border-radius: 0;
                }

                &:last-child {
                  border-radius: 0;
                }
              }
            }

            &:last-child {
              .ant-table-cell {
                border-bottom: 0;
              }
            }

            .ant-table-cell {
              background-color: rgba(54, 109, 135, 0.21);
              border-top-color: transparent;

              &.ant-table-cell-row-hover {
                background-color: transparent;
              }
            }
          }
        }

        .ant-table-content {
          .ant-table-thead {
            background: linear-gradient(0, #1C3B68 0%, rgba(2, 43, 76, 0) 100%);

            .ant-table-cell {
              background-color: transparent;
              border-bottom: none;
              text-align: center;
              color: rgba(0, 252, 238, 1);
              font-weight: 500;
              font-size: sizeUtils.vh(16);
              line-height: sizeUtils.vh(22);
              padding: sizeUtils.vh(12) sizeUtils.vw(16);

              &::before {
                display: none;
              }
            }
          }

          .ant-table-tbody {
            .ant-table-row {

              .ant-table-cell {
                border-top-color: transparent;

                &.ant-table-cell-row-hover {
                  background-color: transparent;
                }
              }

              &:hover {
                position: relative;

                .ant-table-cell {
                  background-color: rgba(54, 109, 135, 0.68);

                  &:first-child {
                    border-radius: 0;
                  }

                  &:last-child {
                    border-radius: 0;
                  }
                }
              }

              &:last-child {
                .ant-table-cell {
                  border-bottom: none;
                }
              }
            }

            .ant-table-placeholder {
              &:hover {
                .ant-table-cell {
                  background-color: transparent;
                  border-bottom: none;
                }
              }

              .ant-table-cell {
                padding: sizeUtils.vh(17) sizeUtils.vw(16);
                background-color: transparent;
                border-bottom: none;
                color: rgba(221, 240, 246, 1);
                font-weight: 400;
                font-size: sizeUtils.vh(14);
                line-height: sizeUtils.vh(20);
              }
            }
          }
        }

        .ant-table-body {
          .ant-table-tbody {
            .ant-table-placeholder {
              &:hover {
                .ant-table-cell {
                  background-color: rgba(54, 109, 135, 0.68);
                  border-bottom: none;
                }
              }
            }
          }
        }
      }
    }
  }
}

// 分页
.custom-pagination {
  .ant-pagination-item {
    background-color: transparent;

    a {
      color: rgba(221, 240, 246, .4);
    }

    &.ant-pagination-item-active {
      border-color: rgba(0, 252, 238, 1);
      background-color: rgba(0, 252, 238, 0.06);

      a {
        color: rgba(0, 252, 238, 1);
      }
    }
  }

  .ant-pagination-options {
    .ant-pagination-options-size-changer {
      .ant-select-selector {
        border-color: rgba(0, 252, 238, 1);
        background-color: rgba(0, 252, 238, 0.06);

        .ant-select-selection-item {
          color: rgba(221, 240, 246, 1);
        }
      }

      .ant-select-arrow {
        color: rgba(221, 240, 246, 1);
      }
    }
  }
}