/*通用按钮样式*/
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: vh(33);
  padding: 0 vw(25);
  background: #01a9ff;
  border-radius: vh(36);
  cursor: pointer;
}

// 新版本按钮样式
.new-select-btn {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: vw(244);
  height: vh(44);
  padding-bottom: vh(3);
  letter-spacing: vw(2);
  //line-height: 1;
  //border-radius: 50px;
  //border: 1px solid #64f2ff;
  //background: #020c30;
  font-size: vh(20);
  color: rgba(221, 240, 246, 1);
  cursor: pointer;
  background-image: url('@/assets/images/select_box_bg.png');
  background-size: 100% 100%;
}

// 报警表单展示
.warning-detail-content {
  width: vw(480);
  padding: vh(24) vw(43);

  .warning-detail-item {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: vh(8);

    .waring-detail-key {
      width: vw(90);
      padding: vh(6) vw(0);
      text-align: right;
      font-size: vh(14);
      line-height: vh(24);
      color: rgba(221, 240, 246, 1);
    }

    .warning-detail-value {
      display: flex;
      flex-wrap: wrap;
      width: vw(300);
      padding: vh(6) vw(12);
      line-height: vh(24);
      border-radius: 2px;
      color: rgba(255, 255, 255, 1);
      background-color: rgba(54, 109, 135, 0.4);

      &.no-bg {
        padding: 0;
        background-color: transparent;
      }

      .img {
        border-radius: 4px;
      }
    }
  }
}